* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: auto auto auto auto;
    grid-gap: 45px;
    display:grid;
    align-items: center;
    margin: 0; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: teal; */
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    /* background-color: aquamarine; */
    height: 100%;
    width:100%;
    /* overflow: auto; */

    position: relative;
    /* border: 5px solid salmon; */
}


.box {
    /* height: 500px;
    max-height: 500px; */
    width: 350px;
    aspect-ratio: 2.5/3.5;
    position: absolute;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    transform: translateX(0);

}

/* .active 
{
    /* z-index: 150;
    transform: scale(110%);
} */

#prevButton, #nextButton
{
    /* padding:1rem; */
    font-size: 3rem;
    z-index: 400;
    background-color:black;
    width:80px;
    height:80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    aspect-ratio: 1/1;
    text-decoration: none;

    transition: all 300ms ease-in;
    transform: scale(100%);

    /* margin-inline: 1.5rem; */
}

#prevButton:hover, #prevButton:active, #nextButton:hover, #nextButton:active
{
    transform: scale(115%);
}

.card {
    background-color: gray;
    border: 5px solid yellow;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    height: 530px;
    overflow: hidden;
    padding: 10px;
}

.whole{
    height: fit-content;
}

/* Design Details for the cards visual*/

.top {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: space-around;
    border: 2px solid black;
    border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    padding: 6px;
    min-height: 4.5rem;
}

.basic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.title {
    font-weight: bold;
}

.picture-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-bottom: 2px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    height: auto;
}

.profile img {
    width: 200%;
    max-height: 200px;
    object-fit: contain;
}

img {
    width: 200%;
    max-height: 200px;
    object-fit: contain; /* This ensures that the image retains its aspect ratio */ 
}

.attack {
    font-weight: bold;
}

.summary {
    text-align: center;
}

.holder{
    margin: 2;
    min-height: 8.5rem;
    padding-top: 2px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillstwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
}


.section {
    display: flex;
    flex-direction: column;
    font-size: small;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: x-small;
    min-height: 2.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.weakness {
    padding-top: 6px;
}

.resistance {
    padding-top: 6px;
}

.weakness-section {
    color: rgb(162, 24, 24);
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.resistance-section {
    color: rgb(80, 27, 130);
    display: flex;
    flex-direction: row;
}

.bottom{
    display: flex;
    padding-top: 2px;
    flex-direction: row;
    justify-content:space-between;
    font-size:x-small;
    margin: 2px;
}

.sentence {
    font-size: small;
    text-align: left;
    padding-bottom: 1px;
}

.buttons {
    background-color: black;
    color: black;
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-evenly;
    padding: 6px;
    margin: 2px;
    border: 4px solid white;
    border-radius: 10px;
}

.like-btn {
    border-radius: 8px;
    padding: 2px;
}

.download-btn {
    border-radius: 8px;
    padding: 2px;
}
.share-btn {
    border-radius: 8px;
    padding: 2px;
}

